{% extends 'WEBAPP/base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block body %}
<div class="container-fluid px-70">
     <img src="static/about4.png" class="d-block w-70" alt="...">
</div>

<div class="container my-4 px-80">
        {% csrf_token %}
    <div class="mb-3">
      <button type="button" class="btn btn-secondary btn-lg">ABOUT ME</button>
    </div>
    <div class="mb-2">
      <label for="name">Name: </label>
       <label for="name">SAKSHI VIJAY PANDE</label>
   </div>
    <div class="mb-2">
      <label for="name">Email: </label>
        <label for="name">sakshipande57@gmail.com</label>
   </div>
    <div class="mb-2">
      <label for="desc">Address: </label>
        <label for="name">At post mahagaon (445205) district yavatmal tq.mahagaon state maharashtra</label>
   </div>
      <div class="mb-2">
      <label for="desc">Skill: </label>
        <label for="name">I have programming skill python,php,java,html,database management,mysql  </label>
   </div>
      <div class="mb-2">
      <label for="desc">Strength: </label>
        <label for="name">Good strength of working with team,strong ability to work creative and determination.</label>
   </div>
    <div class="mb-2">
      <label for="desc">Weakness: </label>
        <label for="name">Too sensitive about work.</label>
   </div>
    <div class="mb-2">
      <label for="desc">Aim: </label>
        <label for="name">To become successful computer engineer.</label>
   </div>
    <div class="mb-2">
      <label for="desc">Goal: </label>
        <label for="name">learning various programming languages and create useful and effective project to achieve my aim.</label>
   </div>
    <div class="mb-2">
        <h1 style="font-size: 30px"><strong><u>EDUCATION</u></strong></h1>
    </div>
    <div class="mb-2">
        <label for="desc">School Name: </label>
          <label for="name">Matoshree high school,mahagaon</label>
    </div>
    <div class="mb-2">
         <label for="desc">SSC Percentages: </label>
          <label for="name">88.60%</label>
    </div>
    <div class="mb-2">
        <label for="desc">polytechnic college:</label>
          <label for="name">Government polytechnic,nanded</label>
    </div>
    <div class="mb-2">
        <label for="desc">Percentage:</label>
          <label for="name">96.13%</label>
    </div>
    <div class="mb-2">
        <label for="desc">Current college:</label>
          <label for="name">Shri guru gobind singhji institute of engineering and technology,nanded</label>
    </div>
    <div class="mb-2">
        <label for="desc">Branch:</label>
          <label for="name">Computer science and engineering</label>
    </div>
    <div class="mb-2">
        <label for="desc">Year:</label>
          <label for="name">Second year</label>
        </div>


    </div>

</div>
{% endblock body %}