{% extends 'WEBAPP/base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-0 " >
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/lap.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:black">HELLO,SAKSHI PANDE HERE!</h5>
        <p style="color:black"> <strong>MYSELF SAKSHI PANDE I AM SECOND YEAR STUTENT OF CSE BRANCH.</strong><br>
        </p>
      </div>
    </div>
  </div>
</div>
</div>>


<div class="album py-5 bg-light">
    <div class="container my-3">
      <h1 class="my-4 text-center">Here Is Little Bit About Myself</h1>
      <p>
        Firstly thank you to visiting my portfilo.
        I am btect stutent of computer science branch. I love to exploring new thing.
        I enjoy to build new idea live on internet like website, android application or anything that give me inspiration to develop.
        My aim is to become a successful computer engineer.my goal is to learn as possible as new programming languages and to gain knowledge about it.
        I am not intrested to build only complex application or website rather than I want to delevop application or website that make our lifestyle easy.
        to know more about me please visit to about me.<br>
        THNAK YOU!

      </p>



    </div>
  </div>
{% endblock body %}
